---
layout: default
title: Home
---

<p style="text-align:justify"> 
	<figure alt="" style="width:740px;height:300px;margin-right:15px;float:left;padding-right:20px;padding-bottom:10px">
		<img src="/assets/home/packrafts.jpeg">
	</figure>
</p>
	<br /> 
	<br /> 
<p style="text-align:justify"> My name is Evan Thaler. I'm interested in how the Earth's surface (and near subsurface) evolve over time, which is a branch of science we call "geomorphology." We chose that name to sound super cool and confuse everyone else. Most of my researcusing data collected from satellites and airplanes to look at patterns of the Earth's surface and try to understand what processes create those patterns.
</p>

