---
layout: default
title: Home
---

<p style="text-align:justify"> 
	<figure alt="Evan Thaler" style="width:740px;height:300px;margin-right:15px;float:left;padding-right:20px;padding-bottom:270px">
		<img src="/assets/home/packrafts.jpeg">
	</figure>
</p>
<p>
<br>
<br>
<br>
</p>
	
<p style="text-align:justify"> My name is Evan Thaler. I'm interested in how the Earth's surface (and near subsurface) evolves over time, which is a branch of science we call "geomorphology." Most of my reseach uses data collected from satellites and airplanes to look at patterns of the Earth's surface and try to understand what processes create those patterns. I am currently a Physical Scientist with the USGS and was formerly a Chick Keller Postdoctoral Fellow at the Los Alamos National Laboratory (LANL). I received my PhD in Geosciences at
the University of Massachusetts working with <a href="https://www.geo.umass.edu/geomorphology/welcome"><b>Isaac Larsen</b></a> and <a href="http://www.geo.umass.edu/faculty/yu/"><b>Qian Yu</b></a> and my MS and BS in Geology at the University of Arkansas working with <a href="http://www.speleophysics.com/"><b>Matt Covington</b></a>.
Check out my latest publications at my <a href="https://scholar.google.com/citations?user=mq5Nj-kAAAAJ&hl=en"><b>Google Scholar page</b></a> 
</p>

